@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Pinyon+Script&family=Quattrocento:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

/*

Font Colors

1.) #9e7f00

*/
.title{
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('Title_Background.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;


    }

    .title-main{
        
        background-color: rgba(0, 0, 0, 0.286);
        color: #9e7f00;
        
        padding: 0px 10px;
        
        h1{
            font-size: 10em;
            text-align: center;

            font-family: "Pinyon Script";
        }
        h2{
            position: relative;
            top: -20px;
            font-size: 2em;
            text-align: center;

            font-family: "Quattrocento";
        }

        h3{
            font-size: 0.9em;
            font-family: "Roboto Mono";
        }
    }

    .title-description{
        display: flex;
        justify-content: space-between;

    }

.invitation{
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;

    background-image: url('Invitation.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#Invitation{
    background: linear-gradient(0deg,rgba(87, 25, 53, 1) 7%, rgba(0, 0, 0, 1) 38%);
}

.venue{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    background: linear-gradient(180deg,rgba(87, 25, 53, 1) 5%, rgba(0, 0, 0, 1) 20%);   
}

.venue-header{
    width: 100%;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.278);

    h1{
        font-family: "Pinyon Script";
        font-size: 10em;
        text-shadow: 0px 2px 5px black;
    }

    h2{
        font-family: "Quattrocento";
        font-size: 2em;
        text-shadow: 0px 2px 5px black;
    }
}

.venue-content{
    width: 100%;
    background-color: rgba(5, 221, 149, 0.374);
    padding: 10px;
    gap: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    iframe{
        width: 100%;
        height: 100%;

        border-radius: 20px;
    }

}
.venue-pictures{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    


    img{
        width: 90%;
        height: 150px;
        object-fit: cover;
        overflow-x: hidden;

        border-radius: 20px;
    }
}


.specials{
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 0px;
}

#Roses{
    background-color: rgb(135, 104, 104);
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 5%, rgba(69, 0, 17, 1) 20%);
    
}
.Roses{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('18-Roses.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#Treasures{
    background-color: #450011;;
}
.Treasures{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0);
    background-image: url('18-Treasures.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#Shots{
    background-color: #450011;
}

.Shots{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('18-Shots.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}   
#Gift-Guide{
    background-color: #450011;
    background-image: url('');
}

.Gift-Guide{
    width: 100%;
    height: 100%;

    background-image: url('Gift-Guide.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#Timeline{
    background-color: rgba(87, 25, 53, 1);
}

#Reminders{
    background-color: #450011;
}
.Reminders{
    width: 100%;
    height: 100%;

    background-image: url('Reminders.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.timeline{
    background-color: rgba(0, 0, 0, 0);
    background-image: url('Timeline.png');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



.attire{
    min-height: 100vh;
    width: 100vw;
    padding: 0px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #450011;
    color: white;
}

.attire-content{
    display: flex;
    justify-content: space-evenly;


    
    width: 100%;
}

.attire-header{
    text-align: center;

    h1{
        font-family: "Pinyon Script";
        font-size: 9em;
    }

    p{
        position: relative;
        top: 0px;
        font-family: "Quattrocento";
        font-size: 2em;
    }

}
.attire-container{

    background-color: #0000004f;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 20px 0px;

    img{
        background-color: rgba(0, 0, 0, 0.219);
        width: 95%;
        height: 300px;
    }
}

.RSVP{
    height: 100vh;
    background: linear-gradient(180deg,rgba(69, 0, 17, 1) 5%, rgba(0, 0, 0, 1) 20%);
}

.RSVP-img{
    width: 100%;
    height: 100%;

    background-image: url('RSVP.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 950px) 
{

    body{
        overflow-x: hidden;
    }

    .title{
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('Title_Background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    }

    .title-main{
        background-color: rgba(0, 0, 0, 0.286);
        
        h1{
            font-size: 20em;
            text-align: center;
            text-shadow: 0px 2px 5px black;
        }
        h2{
            position: relative;
            top: -25px;
            font-size: 5em;
            text-align: center;
            text-shadow: 0px 2px 5px black;
        }

        h3{
            font-size: 2em;
        }
    }

    .title-description{
        display: flex;
        justify-content: space-between;

    }

    .attire-content img{
        height: 600px;
        margin: 20px 0px
    }



}
